<div [@routerTransition]>
    <section class="content-header" style="padding: 1px 0.5rem">
      <div class="container-fluid" style="width: 97%">
        <h5>Accounts Management</h5>
        <a (click)="navigateToChartOfAccountsForm()">
          <button class="button-container">
            <i class="fa-solid fa-chart-gantt"></i>
            <span> Chart of Accounts </span>
          </button>
        </a>
        <a (click)="navigateToVoucherEntryForm()">
          <button class="button-container">
            <i class="fa-solid fa-ticket"></i>
            <span> Voucher Entry </span>
          </button>
        </a>
      </div>
    </section>
  </div>
  