/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

.p-datatable .p-datatable-header {
  background: #80af81;
  color: #374151;
  border: 1px solid #e5e7eb;
  border-width: 1px 0 1px 0;
  padding: 0.5rem 1rem;
  font-weight: 700;
}

.table-bordered thead td,
.table-bordered thead th {
  color: #ffffff;
  border-bottom-width: 2px;
  background: #508d4e;
  border: 1px solid black;
}

.table-bordered tbody td,
.table-bordered tbody th {
  border: 1px solid rgb(150, 147, 147);
}

tabset {
  font-size: 0.8rem;
}

.p-paginator {
  font-size: 0.8em;
  padding: 2px;
}

.p-paginator .p-paginator-page {
  width: 0px;
  height: 30px;
  margin: 0 2px;
}

.p-paginator p-select {
  width: 80px;
  font-size: 0.9rem;
  height: 2rem;
  line-height: 0.6rem;
}

.p-paginator p-selectitem > li {
  padding: 8px 0px 8px 10px;
}

.p-paginator .p-paginator-page {
  height: 40px;
  width: 40px;
  font-size: 0.9rem;
  margin: 0;
}

p-select {
  /* height: 38px;
  line-height: 1.2; */
  margin-top: -0.5rem;
  width: 100%;
  font-size: 0.9rem;
}

p-selectitem > li {
  padding: 1px 0px 1px 13px;
}

.p-select-list-container > ul {
  margin-bottom: 0;
}

.p-button {
  padding: 1px 2px;
  font-size: 0.8em;
}

input {
  height: 38px;
  color: #000000;
}

label {
  font-size: 0.8rem;
  margin-bottom: 0rem;
  color: #000000;
}

.legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

.guide {
  font-size: 1.1rem;
  margin-left: 2px;
  color: #508d4e;
}

aside {
  background-color: #d6efd8;
}

nav ul li a i,
nav ul li a p {
  color: #508d4e;
  font-size: 0.9rem;
}

nav ul li a:hover i,
nav ul li a:hover p {
  color: #ffffff;
}

nav ul li a:hover {
  background-color: #80af81;
}

.nav-pills .nav-link.active {
  color: #ffffff;
  background-color: #b3e2a7 !important;
}

.brand-text {
  color: #508d4e;
}

.brand-text:hover {
  color: blue;
}

.button-new {
  background-color: #508d4e !important;
  color: #ffffff !important;
  margin-left: 0.5rem !important;
  font-size: small !important;
  font-weight: 600 !important;
  margin-top: 2px;
  margin-bottom: 2px;
}

.modal-head {
  color: #ffffff;
  background-color: #508d4e;
  padding-bottom: 0.6rem !important;
}

.modal-title {
  font-weight: bold !important;
}

td > a > i {
  color: #508d4e;
}

.img-hover {
  background-color: #ffffff !important;
}

.p-datatable:hover {
  background-color: #d6efd8 !important;
}

.p-datepicker-dropdown,
calendaricon {
  color: #ffffff;
  background-color: #508d4e;
}

/* .p-datepicker-panel{
  transform: scale(0.75);
  transform-origin: top right;
} */

.p-datepicker-title {
  font-size: 1.1rem;
}

input[role="searchbox"] {
  height: 23px !important;
  border: solid 1px;
  border-radius: 1;
}

/* Hide spinner for Chrome, Safari, Edge, and other WebKit browsers */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide spinner for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Target the checkbox container */
.p-checkbox-box {
  width: 12px; /* Adjust the size as needed */
  height: 12px; /* Adjust the size as needed */
  outline: auto;
  border-radius: 0;
  margin-top: 0.3rem;
}

/* Adjust the inner checkmark icon size */
.p-checkbox-box .p-checkbox-icon {
  font-size: 0.8rem; /* Smaller icon */
}

.softwaredate .p-inputtext {
  font-size: large;
  font-weight: 800;
  animation: pulse 2s linear infinite;
  width: 10rem;
  border-radius: 1;
  text-align: center;
  padding-block: 0;
  padding-inline: 0;
}

@keyframes pulse {
  0%,
  50% {
    opacity: 1;
    background-color: #b3e2a7;
    color: #508d4e;
  }
  51%,
  100% {
    opacity: 1;
    background-color: #508d4e;
    color: #b3e2a7;
  }
}

/* For WebKit-based browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #b3e2a7; /* Track color */
  border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb {
  background: #b3e2a7; /* Thumb (scroll handle) color */
  border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #b3e2a7; /* Hover effect */
}

/* For Firefox */
html {
  scrollbar-width: thin; /* Width: 'auto', 'thin', or 'none' */
  scrollbar-color: #b3e2a7 #508d4e; /* Thumb and track colors */
}

.icon-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon-text-wrapper .nav-icon {
  font-size: 1.5rem; /* Adjust icon size */
}

.icon-text-wrapper .nav-label {
  margin-top: 0.5rem; /* Space between icon and text */
  font-size: 0.85rem; /* Adjust text size */
  text-align: center;
}

/* .main-sidebar {
  width: 80px !important; 
}

.main-sidebar:hover {
  width: 80px !important;
} */

.p-paginator-page.p-paginator-page-selected {
  border-radius: 20px;
}

.p-listbox {
  border: none !important;
  /* background-color: red; */
}

.p-listbox-option {
  @apply bg-gray-700 text-white rounded-full text-[0.9rem];
}

.p-listbox-list {
  row-gap: 0.1rem;
}

.p-listbox-list-container {
  overflow: unset;
  margin-top: -0.6rem;
}

.pos-tabset > ul > li > a.nav-link.active {
  border: none !important;
  background: green !important;
  color: white !important;
  border-radius: 0.5rem !important;
  margin-bottom: 0.3rem !important;
  font-weight: bold;
}

.pos-tabset > ul > li > a {
  border: 1px green solid !important;
  background: white !important;
  color: green !important;
  border-radius: 0.5rem !important;
  margin-bottom: 0.3rem !important;
}

.pos-tabset > ul {
  border-bottom: none !important;
  display: flex;
  gap: 0.3rem;
}

.orderTakerDDL .p-select-list .p-select-option {
  font-size: 1.2rem;
  padding: 6px 0px 6px 15px;
}

.p-menu-dots > .p-button.p-button-icon-only {
  background-color: #d6efd8;
  height: 1.6rem;
  color: #508d4e;
  width: 2rem;
  border: 1px solid;
  border-radius: 5px;
}

.p-menu-list {
  margin-bottom: 0rem !important;
  padding: 0rem !important;
}

.p-menu-item-link,
.p-menu-item-icon {
  color: #508d4e !important;
  font-weight: bold;
  font-size: smaller;
}