
.p-datatable .p-datatable-header {
    background: #0679ec;
    color: #374151;
    border: 1px solid #e5e7eb;
    border-width: 1px 0 1px 0;
    padding: 0.5rem 1rem;
    font-weight: 700;
}

.table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 2px;
    background: rgb(3, 246, 214);
    border: 1px solid black;
}

.table-bordered tbody td, .table-bordered tbody th {
    border: 1px solid rgb(150, 147, 147);
}

tabset{
    font-size: 0.8rem;
}

 .p-paginator {
    font-size: 0.8em; 
    padding: 2px;     
}
 .p-paginator .p-paginator-page {
    width: 0px;    
    height: 30px;   
    margin: 0 2px;   
}
 .p-dropdown {
    font-size: 0.5rem; 
    padding: 2px;     
    height: 30px;
    line-height: 0.1rem;
    width: auto;
}

 .p-button {
    padding: 1px 2px; 
    font-size: 0.8em;  
}