<form
  class="form-horizontal"
  autocomplete="off"
  #createAccountForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'Item Category' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <div class="container-fluid">
    <div class="form-row form-group">
      <div class="col-md-3 required">
        <label for="location">
          {{ "Item Type" | localize }}
        </label>
        <p-select
          name="location"
          required
          placeholder="Select Item Type"
          [options]="tblItemTypes"
          [styleClass]="'text-sm h-10 border border-gray-300 rounded focus:outline-none'"
          [(ngModel)]="tblItemCategories.itemTypeId"
        >
        </p-select>
      </div>
      <div class="col-md-3 required">
        <label for="category">
          {{ "Category" | localize }}
        </label>
        <input
          style="margin-top: -8px"
          type="text"
          class="form-control"
          name="category"
          id="category"
          required
          minlength="2"
          maxlength="500"
          [(ngModel)]="tblItemCategories.title"
        />
        </div>
        <div class="col-md-3 required">
          <label for="sort">
            {{ "Sort No." | localize }}
          </label>
          <input
            style="margin-top: -8px"
            type="text"
            class="form-control"
            name="sort"
            id="sort"
            minlength="2"
            maxlength="500"
          />
          </div>
        <div class="col-md-3">
          <div class="custom-control custom-checkbox" style="padding: 1.2rem;">
            <input

              type="checkbox"
              class="custom-control-input"
              name="isActive"
              id="isActive"
              [(ngModel)]="tblItemCategories.isActive"
            />
            <label class="custom-control-label mt-2" for="isActive"
              >Active</label
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveLabel]="this.id > 0 ? 'Update' : 'Save'"
    [saveDisabled]="!createAccountForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
