.btnNav{
    margin-left: 0.5rem;
    font-size: small;
    font-weight: 600;
}

::ng-deep .p-paginator {
    font-size: 0.8em; // Adjust font size
    padding: 2px;     // Adjust padding
}
::ng-deep .p-paginator .p-paginator-page {
    width: 0px;     // Set width of page buttons
    height: 30px;    // Set height of page buttons
    margin: 0 2px;   // Adjust margin between buttons
}
::ng-deep .p-dropdown {
    font-size: 0.5rem; // Reduce font size in dropdown
    padding: 2px;     // Adjust padding
    height: 30px;
    line-height: 0.1rem;
    width: auto;
}

::ng-deep .p-button {
    padding: 1px 2px; // Adjust padding for buttons
    font-size: 0.8em;  // Adjust font size for buttons
}