<div [@routerTransition]>
  <section class="content-header" style="padding: 1px 0.5rem">
    <div class="container-fluid" style="width: 97%">
      <h5>POS</h5>
      <div class="button-row">
        <a (click)="navigateToPosForm()">
          <button class="button-container">
            <i class="fa-solid fa-display"></i>
            <span> Main POS </span>
          </button>
        </a>
        <a (click)="navigateToDayCloseForm()">
          <button class="button-container">
            <i class="fa-solid fa-calendar-xmark"></i>
            <span> Day Close </span>
          </button>
        </a>
      </div>
      <h5>Customer Management</h5>
      <div class="button-row">
        <a (click)="navigateToCustomerForm()">
          <button class="button-container">
            <i class="fa-solid fa-users"></i>
            <span> Add Customer </span>
          </button>
        </a>
      </div>
    </div>
  </section>
</div>
