<div [@routerTransition]>
    <abp-modal-header
      [title]="'Item Search' | localize"
      (onCloseClick)="bsModalRef.hide()"
    ></abp-modal-header>
  
    <div class="container-fluid w-[97%]">
      <div class="card main-content rounded">
        <div class="card-content table-bordered max-h-[500px] flex flex-col">
          <!-- Table Container with Scroll -->
          <div class="overflow-auto max-h-[350px]" style="scrollbar-width: none;">
            <p-table
              #dataTable
              [value]="primengTableHelper.records"
              [lazy]="true"
              [scrollable]="true"
              [style]="{ width: '100%', fontSize: '0.8rem' }"
              (onLazyLoad)="getHistory($event)"
              class="p-table-page table-sm table-hover"
              [rows]="primengTableHelper.defaultRecordsCountPerPage"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th>Item Name</th>
                  <th style="width: 17%;">Barcode</th>
                  <th style="width: 12%;">Price</th>
                  <th style="width: 10%;">UOM</th>
                  <th style="width: 12%;">Category</th>
                  <th style="width: 10%;">Section</th>
                  <th style="text-align: center">Action</th>
                </tr>
                <tr>
                  <th>
                    <input type="text" pInputText class="table-search-input form-control w-full text-sm !h-8 indent-2 p-0" 
                           (input)="dataTable.filter($event.target.value,'itemName', 'contains')" placeholder="Search">
                  </th>
                  <th>
                    <input type="text" pInputText class="table-search-input form-control w-full text-sm !h-8 indent-2 p-0" 
                           (input)="dataTable.filter($event.target.value,'barcode', 'contains')" placeholder="Search">
                  </th>
                  <th>
                    <input type="text" pInputText class="table-search-input form-control w-full text-sm !h-8 indent-2 p-0" 
                           (input)="dataTable.filter($event.target.value,'price', 'contains')" placeholder="Search">
                  </th>
                  <th>
                    <input type="text" pInputText class="table-search-input form-control w-full text-sm !h-8 indent-2 p-0" 
                           (input)="dataTable.filter($event.target.value,'uOM', 'contains')" placeholder="Search">
                  </th>
                  <th>
                    <input type="text" pInputText class="table-search-input form-control w-full text-sm !h-8 indent-2 p-0" 
                           (input)="dataTable.filter($event.target.value,'category', 'contains')" placeholder="Search">
                  </th>
                  <th>
                    <input type="text" pInputText class="table-search-input form-control w-full text-sm !h-8 indent-2 p-0" 
                           (input)="dataTable.filter($event.target.value,'section', 'contains')" placeholder="Search">
                  </th>
                  <th></th>
                </tr>
              </ng-template>
  
              <ng-template pTemplate="body" let-itemHistory>
                <tr>
                  <td>{{ itemHistory.itemName }}</td>
                  <td>{{ itemHistory.barcode }}</td>
                  <td>{{ itemHistory.price }}</td>
                  <td>{{ itemHistory.uom }}</td>
                  <td>{{ itemHistory.category }}</td>
                  <td>{{ itemHistory.section }}</td>
                  <td style="text-align: center">
                    <a type="button" class="mx-2 edit-btn" (click)="loadItem(itemHistory.itemId)">
                      <i class="fa-regular fa-share-from-square"></i>
                    </a>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
  
          <!-- Footer and Pagination -->
          <div class="card-footer table-card-footer text-center my-2" *ngIf="primengTableHelper.totalRecordsCount == 0">
            <p class="p-0 m-0">No Data</p>
          </div>
          <span class="ml-4 text-sm">
            {{ primengTableHelper.totalRecordsCount | number : "2." }} records found!
          </span>
          <div>
            <p-paginator
              [rows]="primengTableHelper.defaultRecordsCountPerPage"
              #paginator
              (onPageChange)="getHistory($event)"
              [totalRecords]="primengTableHelper.totalRecordsCount"
              [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
            >
            </p-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
  