<div [@routerTransition]>
  <section class="content-header" style="padding: 1px 0.5rem">
    <div class="container-fluid" style="width: 97%">
      @if(locationPermission || tablePermission){
        <h5>Configurations</h5>
      }
      <div class="button-row">
        @if(locationPermission){
          <a (click)="navigateToLocationForm()">
            <button class="button-container">
              <i class="fa-solid fa-map-pin"></i>
              <span> Location </span>
            </button>
          </a>
        }
        @if(tablePermission){
          <a (click)="navigateToTableForm()">
            <button class="button-container">
              <i class="fa-solid fa-dumpster"></i>
              <span> Table </span>
            </button>
          </a>
        }
      </div>
      @if(employeePermission || usersPermission || rolesPermission){
        <h5>HR Management</h5>
      }
      <div class="button-row">
        @if(employeePermission){
          <a (click)="navigateToEmployeeForm()">
            <button class="button-container">
              <i class="fa-solid fa-user-plus"></i>
              <span> Add Employee </span>
            </button>
          </a>
        }
        @if(usersPermission){
          <a (click)="navigateToUsersForm()">
            <button class="button-container">
              <i class="fa-solid fa-users"></i>
              <span> Users </span>
            </button>
          </a>
        }
        @if(rolesPermission){
          <a (click)="navigateToRolesForm()">
            <button class="button-container">
              <i class="fa-solid fa-theater-masks"></i>
              <span> Roles </span>
            </button>
          </a>
        }
      </div>
      @if(sectionPermission || categoryPermission || itemPermission || itemPricePermission){
        <h5>Menu Operations</h5>
      }
      <div class="button-row">
        @if(sectionPermission){
          <a (click)="navigateToSectionForm()">
            <button class="button-container">
              <i class="fa-solid fa-puzzle-piece"></i>
              <span> Section </span>
            </button>
          </a>
        }
        @if(categoryPermission){
          <a (click)="navigateToCategoryForm()">
            <button class="button-container">
              <i class="fa-solid fa-list"></i>
              <span> Category </span>
            </button>
          </a>
        }
        @if(itemPermission){
          <a (click)="navigateToItemForm()">
            <button class="button-container">
              <i class="fa-solid fa-drumstick-bite"></i>
              <span> Item Information </span>
            </button>
          </a>
        }
        @if(itemPricePermission){
          <a (click)="navigateToItemPriceForm()">
            <button class="button-container">
              <i class="fa-solid fa-money-bill-wave"></i>
              <span> Item Price </span>
            </button>
          </a>
        }
      </div>
    </div>
  </section>
</div>
