<div [@routerTransition]>
  <section class="content-header" style="padding: 1px .5rem;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <h4>Locations</h4>
        </div>
        <div class="col-6 text-right">
          <a class="btn bg-blue btnNav" (click)="createLocation()">
            <i class="fa fa-plus-square"></i>
            Create
          </a>
        </div>
      </div>
    </div>
  </section>
  <div class="container-fluid">
    <div class="card main-content rounded">
      <div class="card-content">
        <p-table
          #dataTable
          [value]="primengTableHelper.records"
          [lazy]="true"
          [scrollable]="true"
          [style]="{ width: '100%' }"
          (onLazyLoad)="getHistory($event)"
          class="p-table-page table-sm table-hover"
          [rows]="primengTableHelper.defaultRecordsCountPerPage"
        >
          <ng-template pTemplate="caption">
            <div class="d-flex flex-row-reverse">
              <span>
                <input
                  pInputText
                  type="text"
                  class="table-search-input form-control w-100"
                  (input)="
                    dataTable.filterGlobal($event.target.value, 'contains')
                  "
                  placeholder="Search"
                />
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr class="table-secondary">
              <th>Region Name</th>
              <th>Location Name</th>
              <th>Type</th>
              <th>Address</th>
              <th>Contact Person</th>
              <th>Contact Number</th>
              <th style="text-align: center;">Status</th>
              <th style="text-align: center;">Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-locationHistory>
            <tr>
              <td>{{ locationHistory.regionName }}</td>
              <td>{{ locationHistory.locationName }}</td>
              <td>{{ locationHistory.locationType }}</td>
              <td>{{ locationHistory.address }}</td>
              <td>{{ locationHistory.contactPerson }}</td>
              <td>{{ locationHistory.contactNumber }}</td>
              <td style="text-align: center">
                <div class="custom-control custom-checkbox">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    disabled
                    [checked]="locationHistory.isActive"
                  />
                  <label class="custom-control-label"></label>
                </div>
              </td>
              <td style="text-align: center">
                <button
                  type="button"
                  class="btn btn-sm bg-secondary"
                  (click)="editLocation(locationHistory)"
                >
                  <i class="fas fa-pencil-alt"></i>
                </button>
              </td>
            </tr>
          </ng-template>
        </p-table>

        <div
          class="card-footer table-card-footer text-center my-2"
          *ngIf="primengTableHelper.totalRecordsCount == 0"
        >
          <p class="p-0 m-0">No Data</p>
        </div>
        <span class="" style="margin-left: 15px;">
            {{ primengTableHelper.totalRecordsCount | number : "2." }} records
            found!
          </span>
        <div class="">
          <p-paginator
            [rows]="primengTableHelper.defaultRecordsCountPerPage"
            #paginator
            (onPageChange)="getHistory($event)"
            [totalRecords]="primengTableHelper.totalRecordsCount"
            [rowsPerPageOptions]="
              primengTableHelper.predefinedRecordsCountPerPage">
          </p-paginator>

        </div>
      </div>
    </div>
  </div>
</div>
