<form
  class="form-horizontal"
  autocomplete="off"
  #createEmployeeForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'Employee Information' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <div class="form-row form-group">
      <div class="col-md-4 required">
        <label for="location">
          {{ "Location" | localize }}
        </label>
        <div class="">
          <p-dropdown
            [style]="{
              width: '100%',
              height: '38px',
              lineHeight: '1',
              marginTop: '-0.5rem'
            }"
            name="location"
            required
            placeholder="Select Location"
            [options]="tblLocation"
            [styleClass]="'border border-gray-300 rounded focus:outline-none'"
            [(ngModel)]="tblEmployee.locationId"
            (onChange)="getNewEmployeeNo(tblEmployee.locationId)"
          >
          </p-dropdown>
        </div>
      </div>
      <div class="col-md-4 required">
        <label for="designation">
          {{ "Designation" | localize }}
        </label>
        <p-dropdown
          [style]="{
            width: '100%',
            height: '38px',
            lineHeight: '1',
            marginTop: '-0.5rem'
          }"
          name="designation"
          required
          placeholder="Select Designation"
          [options]="tblDesignation"
          [styleClass]="'border border-gray-300 rounded focus:outline-none'"
          [(ngModel)]="tblEmployee.designationId"
        >
        </p-dropdown>
      </div>
      <div class="col-md-4 required">
        <label for="department">
          {{ "Department" | localize }}
        </label>
        <p-dropdown
          [style]="{
            width: '100%',
            height: '38px',
            lineHeight: '1',
            marginTop: '-0.5rem'
          }"
          name="department"
          required
          placeholder="Select Department"
          [options]="tblDepartment"
          [styleClass]="'border border-gray-300 rounded focus:outline-none'"
          [(ngModel)]="tblEmployee.departmentId"
        >
        </p-dropdown>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="empCode">
          {{ "Employee Code" | localize }}
        </label>
        <input
          style="margin-top: -8px"
          type="text"
          class="form-control"
          name="empCode"
          id="empCode"
          required
          minlength="2"
          maxlength="500"
          readonly
          [(ngModel)]="empCode"
        />
      </div>
      <div class="form-group col-md-4">
        <label for="empName">
          {{ "Employee Name" | localize }}
        </label>
        <input
          style="margin-top: -8px"
          type="text"
          class="form-control"
          name="empName"
          id="empName"
          required
          minlength="2"
          maxlength="500"
          [(ngModel)]="tblEmployee.employeeName"
        />
      </div>
      <div class="form-group col-md-4 required">
        <label for="empMob">
          {{ "Mobile No." | localize }}
        </label>
        <input
          style="margin-top: -8px"
          type="text"
          class="form-control"
          name="empMob"
          id="empMob"
          minlength="2"
          maxlength="500"
          [(ngModel)]="tblEmployee.mobileNo"
        />
      </div>
      <div class="form-group col-md-4">
        <label for="joiningDate"> Joining Date </label>
        <p-calendar
          [(ngModel)]="joiningDate"
          name="joiningDate"
          id="joiningDate"
          autoWidth="false"
          [style]="{ width: '100%', height: '38px', marginTop: '-8px' }"
          [styleClass]="'border border-gray-300 rounded text-sm'"
          placeholder="Joining Date"
          [dateFormat]="'dd/mm/yy'"
          [showIcon]="true"
        ></p-calendar>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12 required">
        <label for="address">
          {{ "Address" | localize }}
        </label>
        <input
          style="margin-top: -8px"
          type="text"
          class="form-control"
          name="address"
          id="address"
          minlength="2"
          maxlength="500"
          [(ngModel)]="tblEmployee.address"
        />
      </div>
    </div>
    <div class="form-row form-group">
      <div class="form-group col-md-4">
        <!-- <label class="col-md-3">
          {{ "" }}
        </label> -->
        <div class="col-md-9">
          <div class="custom-control custom-checkbox">
            <input
              style="margin-top: -8px"
              type="checkbox"
              class="custom-control-input"
              name="isActive"
              id="isActive"
              [(ngModel)]="tblEmployee.isActive"
            />
            <label class="custom-control-label mt-2" for="isActive"
              >Active</label
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveLabel]="this.id > 0 ? 'Update' : 'Save'"
    [saveDisabled]="!createEmployeeForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
