<!-- <div [@routerTransition]>
  <h4 class="text-center mb-3">{{ "LogIn" | localize }}</h4>
  <form novalidate autocomplete="off" #loginForm="ngForm" (ngSubmit)="login()">
    <div class="form-group">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          name="userNameOrEmailAddress"
          [(ngModel)]="authService.authenticateModel.userNameOrEmailAddress"
          [placeholder]="'UserNameOrEmail' | localize"
          required
          maxlength="256"
          #userNameOrEmailAddressModel="ngModel"
          #userNameOrEmailAddressEl
          />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <abp-validation-summary
          [control]="userNameOrEmailAddressModel"
          [controlEl]="userNameOrEmailAddressEl"
        ></abp-validation-summary>
      </div>
      <div class="form-group">
        <div class="input-group">
          <input
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="authService.authenticateModel.password"
            [placeholder]="'Password' | localize"
            required
            maxlength="32"
            #passwordModel="ngModel"
            #passwordEl
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <abp-validation-summary
            [control]="passwordModel"
            [controlEl]="passwordEl"
          ></abp-validation-summary>
        </div>
        <div class="form-group row">
          <div class="col-md-8">
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="rememberMe"
                name="rememberMe"
                [(ngModel)]="authService.rememberMe"
                />
                <label for="rememberMe" class="custom-control-label">
                  {{ "RememberMe" | localize }}
                </label>
              </div>
            </div>
            <div class="col-md-4">
              <button
                type="submit"
                class="btn btn-primary btn-block"
                [disabled]="!loginForm.form.valid || submitting"
                >
                {{ "LogIn" | localize }}
              </button>
            </div>
          </div>
        </form>
        @if (isSelfRegistrationAllowed) {
          <p class="mb-1">
            <a [routerLink]="['../register']">
              <i class="fa fa-plus-circle"></i> {{ "Register" | localize }}
            </a>
          </p>
        }
      </div> -->
      <!-- bg-gradient-to-r from-purple-900 via-purple-800 to-purple-600 -->

      <div [@routerTransition]>
      <div class="bg-[url('/assets/img/back5.jpg')] bg-cover bg-center h-screen text-gray-800">
        <div class="min-h-screen flex fle-col items-center justify-center lg:p-6 p-4">
          <div class="grid md:grid-cols-2 items-center gap-10 max-w-6xl w-full">
  
            <form novalidate autocomplete="off" #loginForm="ngForm" (ngSubmit)="login()"
            class="bg-white rounded-xl px-6 py-6 space-y-2 max-w-md md:ml-auto w-full shadow-md">
              <div class="text-[#508D4E]">
                <tenant-change></tenant-change>
              </div>
              <h3 class="text-3xl font-extrabold mb-12 text-[#508D4E]">
                Sign in
              </h3>
  
              <div>
                <div><label class="text-[#508D4E]">Username</label></div>
                <input 
                type="text"
                name="userNameOrEmailAddress"
                [(ngModel)]="authService.authenticateModel.userNameOrEmailAddress"
                [placeholder]="'UserNameOrEmail' | localize"
                required
                maxlength="256"
                #userNameOrEmailAddressModel="ngModel"
                #userNameOrEmailAddressEl
                class="bg-gray-100 focus:bg-transparent w-full text-[1rem] px-4 py-3.5 rounded-md outline-gray-800" />
              </div>
              <abp-validation-summary
              [control]="userNameOrEmailAddressModel"
              [controlEl]="userNameOrEmailAddressEl"
            ></abp-validation-summary>
              <div>
                <div><label class="text-[#508D4E]">Password</label></div>
                <input
                type="password"
                name="password"
                [(ngModel)]="authService.authenticateModel.password"
                [placeholder]="'Password' | localize"
                required
                maxlength="32"
                #passwordModel="ngModel"
                #passwordEl
                class="bg-gray-100 focus:bg-transparent w-full text-[1rem] px-4 py-3.5 rounded-md outline-gray-800" />
              </div>
              <abp-validation-summary
              [control]="passwordModel"
              [controlEl]="passwordEl"
            ></abp-validation-summary>
              <div>
                <button 
                type="submit"
                [disabled]="!loginForm.form.valid || submitting"
                class="w-full mt-4 shadow-xl py-2 px-6 text-[1.3rem] font-semibold rounded-md text-white bg-[#80AF81] hover:bg-[#508D4E] hover:cursor-pointer focus:outline-none transition duration-200 ease-in" >
                  Log in
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      
</div>