<div [@routerTransition]>
  <abp-modal-header
    [title]="'Pending Orders' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <button
      class="btn"
      [ngClass]="{
        'btn-primary': selectedOrderType === 1,
        'btn-secondary': selectedOrderType !== 1
      }"
      (click)="getPendingOrders(1)"
    >
      Dine In ({{ pendingOrdersCount.dineInOrders }})
    </button>
    <button
      class="btn ml-1"
      [ngClass]="{
        'btn-primary': selectedOrderType === 2,
        'btn-secondary': selectedOrderType !== 2
      }"
      (click)="getPendingOrders(2)"
    >
      Takeaway ({{ pendingOrdersCount.takeawayOrders }})
    </button>
    <button
      class="btn ml-1"
      [ngClass]="{
        'btn-primary': selectedOrderType === 3,
        'btn-secondary': selectedOrderType !== 3
      }"
      (click)="getPendingOrders(3)"
    >
      Delivery ({{ pendingOrdersCount.deliveryOrders }})
    </button>
    <div class="container-fluid" style="width: 100%">
      <div class="card main-content rounded">
        <div class="card-content table-bordered">
          <p-table
            #dataTable
            [value]="pendingOrdersList"
            [lazy]="true"
            [scrollable]="true"
            [style]="{ width: '100%', fontSize: '0.8rem' }"
            class="p-table-page table-sm table-hover"
          >
            <!-- <ng-template pTemplate="caption">
                    <div class="d-flex flex-row-reverse">
                      <span>
                        <input
                          style="font-size: 0.8rem; height: 30px"
                          pInputText
                          type="text"
                          class="table-search-input form-control w-100"
                          (input)="
                            dataTable.filterGlobal(
                              $event.target.value,
                              'contains'
                            )
                          "
                          placeholder="Search"
                        />
                      </span>
                    </div>
                  </ng-template> -->
            <ng-template pTemplate="header">
              <tr class="table-tr">
                <th>Invoice #</th>
                <th>KOT #</th>
                <th>Table</th>
                <th>Customer</th>
                <th>Order Time</th>
                <th>Amount</th>
                <th style="text-align: center">Pre Bill</th>
                <th style="text-align: center">Action</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-history>
              <tr>
                <td>{{ history.invoiceNo }}</td>
                <td>{{ history.kotNo }}</td>
                <td>{{ history.table }}</td>
                <td>{{ history.customer }}</td>
                <td>{{ history.reservedTime }}</td>
                <td>{{ history.amount }}</td>
                <td style="text-align: center">
                  <a type="button" class="mx-2 edit-btn">
                    <i class="fa-solid fa-print"></i>
                  </a>
                </td>
                <td style="text-align: center">
                  <a
                    type="button"
                    class="mx-2 edit-btn"
                    (click)="viewOrder(history.id)"
                  >
                    <i class="fa-solid fa-eye"></i>
                  </a>
                </td>
              </tr>
            </ng-template>
          </p-table>

          <!-- <div
                  class="card-footer table-card-footer text-center my-2"
                  *ngIf="primengDesignationTable.totalRecordsCount == 0"
                >
                  <p class="p-0 m-0">No Data</p>
                </div>
                <span class="" style="margin-left: 15px; font-size: 0.9rem">
                  {{ primengDesignationTable.totalRecordsCount | number : "2." }}
                  records found!
                </span>
                <div class="">
                  <p-paginator
                    [rows]="primengDesignationTable.modalRowsCount"
                    #paginator
                    (onPageChange)="getPendingOrders($event)"
                    [totalRecords]="primengDesignationTable.totalRecordsCount"
                    [rowsPerPageOptions]="
                      primengDesignationTable.modalRowsPerPageOptions
                    "
                  >
                  </p-paginator>
                </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
