<form
  class="form-horizontal"
  autocomplete="off"
  #createAccountForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="(id > 0 ? 'Edit Item Definition' : 'Create Item Definition') | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <div class="form-row form-group">
      <div class="col-md-4 required">
        <label for="itemType">
          {{ "Item Type" | localize }}
        </label>
        <div class="">
          <p-select
            name="itemType"
            required
            [options]="tblItemTypes"
            [styleClass]="'text-sm h-10 border border-gray-300 rounded focus:outline-none'"
            [(ngModel)]="itemTypeIdd"
            (ngModelChange)="getItemCategoryDropdown()"
          >
          </p-select>
        </div>
      </div>
      <div class="col-md-4 required">
        <label for="itemCategory">
          {{ "Category" | localize }}
        </label>
        <p-select
          name="itemCategory"
          required
          placeholder="Select Category"
          [options]="tblItemCategories"
          [styleClass]="'text-sm h-10 border border-gray-300 rounded focus:outline-none'"
          [(ngModel)]="tblItemDefinitions.itemCategoryId"
        >
        </p-select>
      </div>
      <div class="col-md-4 required">
        <label for="section">
          {{ "Section" | localize }}
        </label>
        <p-select
          name="section"
          required
          placeholder="Select Section"
          [options]="tblSections"
          [styleClass]="'text-sm h-10 border border-gray-300 rounded focus:outline-none'"
          [(ngModel)]="tblItemDefinitions.sectionId"
        >
        </p-select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="itemName">
          {{ "Item Name" | localize }}
        </label>
        <input
          style="margin-top: -8px"
          type="text"
          class="form-control"
          name="itemName"
          id="itemName"
          required
          minlength="2"
          maxlength="500"
          [(ngModel)]="tblItemDefinitions.itemName"
        />
      </div>
      <div class="form-group col-md-4 required">
        <label for="barcode">
          {{ "Barcode" | localize }}
        </label>
        <input
          style="margin-top: -8px"
          type="text"
          class="form-control"
          name="barcode"
          id="barcode"
          minlength="2"
          maxlength="500"
          [(ngModel)]="tblItemDefinitions.barcode"
        />
      </div>
      <div class="form-group col-md-4">
        <label for="uom">
          {{ "UOM" | localize }}
        </label>
        <p-select
          [filter]="true"
          name="uom"
          required
          placeholder="Select UOM"
          [options]="tblUnitOfMeasurements"
          [styleClass]="'text-sm h-10 border border-gray-300 rounded focus:outline-none'"
          [(ngModel)]="tblItemDefinitions.uomId"
        >
        </p-select>
      </div>
    </div>
    <div class="form-row form-group">
      <div class="form-group col-md-4">
        <!-- <label class="col-md-3">
          {{ "" }}
        </label> -->
        <div class="col-md-9">
          <div class="custom-control custom-checkbox">
            <input
              style="margin-top: -8px"
              type="checkbox"
              class="custom-control-input"
              name="isActive"
              id="isActive"
              [(ngModel)]="tblItemDefinitions.isActive"
            />
            <label class="custom-control-label mt-2" for="isActive"
              >Active</label
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveLabel]="this.id > 0 ? 'Update' : 'Save'"
    [saveDisabled]="!createAccountForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
