<form
  class="form-horizontal"
  autocomplete="off"
  #createItemPriceListForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'Add Item Price' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <div class="form-row form-group">
      <div class="col-md-4 required">
        <label class="" for="Areas">Service Departments</label>
        <div class="">
          <p-multiSelect
            name="Areas"
            id="Areas"
            [options]="tblLocation"
            [(ngModel)]="selectedAreas"
            placeholder="Select Location(s)"
          ></p-multiSelect>
        </div>
      </div>

    <div class="col-md-4 required">
      <label for="category">
        {{ "Category" | localize }}
      </label>
      <p-dropdown
        [style]="{
          width: '100%',
          height: '38px',
          lineHeight: '1',
          marginTop: '-0.5rem'
        }"
        name="category"
        required
        placeholder="Select Category"
        [options]="tblCategory"
        [styleClass]="'border border-gray-300 rounded focus:outline-none'"
        [(ngModel)]="categoryId"
      >
      </p-dropdown>
    </div>
    <div class="form-group col-md-4">
      <label for="itemPriceDate"> Date Effected </label>
      <p-calendar
        [(ngModel)]="itemPriceDate"
        name="itemPriceDate"
        id="itemPriceDate"
        autoWidth="false"
        [style]="{ width: '100%', height: '38px', marginTop: '-8px' }"
        [styleClass]="'border border-gray-300 rounded text-sm'"
        placeholder="Date Effected"
        [dateFormat]="'dd/mm/yy'"
        [showIcon]="true"
      ></p-calendar>
    </div>
  </div>
</div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveLabel]="this.id > 0 ? 'Update' : 'Save'"
    [saveDisabled]="!createItemPriceListForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
