<form
  class="form-horizontal"
  autocomplete="off"
  #createAccountForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'Section' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <div class="form-row form-group">
      <div class="col-md-3">
        <label for="empName">
          {{ "Section Name" | localize }}
        </label>
      </div>
      <div class="col-md-6">
        <input
          style="margin-top: -8px"
          [style]="{ height: '38px' }"
          type="text"
          class="form-control"
          name="empName"
          id="empName"
          required
          minlength="2"
          maxlength="500"
          [(ngModel)]="tblSections.title"
        />
      </div>
      <div class="col-md-3" style="margin-top: -0.7rem">
        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            name="isActive"
            id="isActive"
            [(ngModel)]="tblSections.isActive"
          />
          <label class="custom-control-label mt-2" for="isActive">Active</label>
        </div>
      </div>
    </div>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveLabel]="this.id > 0 ? 'Update' : 'Save'"
    [saveDisabled]="!createAccountForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
